app = "elysn-api"
primary_region = "lax"

[build]
  dockerfile = "apps/server/Dockerfile"
  context = "."

[env]
  NODE_ENV = "production"
  PORT = "4000"

kill_signal = "SIGINT"
kill_timeout = "5s"

[[services]]
  internal_port = 4000
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 60

  [[services.http_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"
    method = "get"
    path = "/health"